@font-face {
  font-family: 'Nudi';
  src: url('NUDIUNI01K.ttf');
  unicode-range: U+0C80-0CFF;
}
@font-face {
  font-family: 'Devanagari';
  src: url('Sanskrit2003.ttf');
  unicode-range: U+0900-097F;
}

body{
font-family: "Nudi";
color: #111;
}  
.video-container{
    overflow:hidden;
    display:block;
    text-align: center;
    margin: 0 auto;
    /*height: 90vh;*/
    /*max-height: 520px;*/
}
video#bgvid { 
    width: 90%;
    z-index: -100;
    margin: 0px 0 0 0;
    background: url(../images/stock/videobhg.jpg) no-repeat;
    background-size: contain; 
}
.banner {
    /*background: url('../images/stock/sun.jpg') no-repeat center center;*/
    /* background-attachment: fixed; */
    display: table;
    width: 100%;
    background-size: cover;
    color: #FFF;
}


.bannaer-text{
  margin-top: 190px;
  text-shadow: 2px 2px #343a40;
}


.bannaer-text h1 {
  font-size: 1.5em;
}

.bannaer-text h1 small{
  font-size: 2.5em;
}



.firstDiv{
  margin-top: 85px !important;
}

.main, .maale, .book, .contact{
margin-bottom: 150px;
margin-top: 125px;
}

.flat-page{
  margin-top: 80px;
}

.main h1{
    font-family: 'Nudi', serif;
    font-size: 36px;
}
.main p{
  font-size: 20px;
    line-height: 36px;
        margin: 20px 0;
}
.main.author{
  font-size: 25px;
  text-align: center;
}



.mtext span{
  text-align: center;
  padding: 5px;
  font-family: "Devanagari";
  font-size: 30px;
}

.mtext{
  padding-top: 20px;
}




.img-kgs{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;

}


.img-center{
 display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.img-left{
  float: left;
  width: 70%;
}

.img-right{
  float: right;
  width: 70%;
}

.maale h1{
    margin-bottom: 80px;
}

.maale h2{
    margin-bottom: 50px;
}
/*.btn{
  margin-left: 20px;
}
*/
.btn-lg{
  padding: 1.5em;
    font-size: 1.2em;
    line-height: 1.5;
    border-radius: .3rem;
    margin: 1rem;
}

.book h1{
    margin-bottom: 80px;
}

.more{
  float: right;
}
.clear-paddings{
  padding: 0;

}

.bookimg{
  margin: 0;
  padding: 0;
  width: 180px;
  height: 250px;
}

.samvatsaraImg{
  margin: 0;
  padding: 0;
  height: 200px;
}

.card a{
  display: inline-block;
   text-decoration: none;
    color: #222;
}

.card{
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card a:link{
    text-decoration: none;
    color: #fff;
}

.card-body{
  padding: 0px;

}

 .card-title{
  font-family:'Nudi';
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
}

.demo-picked {
  font-size: 1.2rem;
  text-align: center;
}

.demo-picked span {
  font-weight: bold;
}

.hide{
  display: none;
}



/*Masonry*/

.masonry {
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -moz-column-gap: 30px;
  -webkit-column-gap: 30px;
  column-gap: 30px;
  -moz-column-fill: initial;
  -webkit-column-fill: initial;
  column-fill: initial;
}
.masonry .brick {
  margin-bottom: 30px;
}
.masonry .brick img {
  max-width: 100%;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  vertical-align: bottom;
  cursor: pointer;
}
.masonry.bordered {
  -moz-column-rule: 1px solid #eee;
  -webkit-column-rule: 1px solid #eee;
  column-rule: 1px solid #eee;
  -moz-column-gap: 50px;
  -webkit-column-gap: 50px;
  column-gap: 50px;
}
.masonry.bordered .brick {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #eee;
}
.masonry.gutterless {
  -moz-column-gap: 0;
  -webkit-column-gap: 0;
  column-gap: 0;
}
.masonry.gutterless .brick {
  margin-bottom: 0;
}

.span {
  -moz-column-span: all;
  -webkit-column-span: all;
  column-span: all;
  *margin: 30px 0;
}

@media only screen and (min-width: 1024px) {
  .masonry {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}




@media (max-width: 576px){
.card {
column-count: 2;
}
}

@media (min-width: 768px){
  .card {
  column-count: 5;
  }
  .main{
    /*margin-top: -150px;*/
  }
  .video-container{
    width: 60%;
  }
}

#datepicker {
  height: 38px;
  font-size: 20px;
}

.honorableNote{
  font-family: 'Nudi';
  font-size: 20px;
  cursor: pointer;
  color: #111; 
}

.honorableNote:HOVER{
  text-decoration: none;
}

.popover-header {
  font-family: 'Nudi';
  background-color: gold;
  color: #111;
  text-align: center;
}
.popover-body {
  font-family: 'Nudi';
  font-size: 1.2em;
  background-color: #FFF8E1;
}
.visitorCount {
  border: 1px solid red;
  font-size: 14px;
  margin-left: 10px;
  width: 6em;
  text-align: center;
  padding: 0.3em;
  border: 1px solid #CCCCCC;
  color: #111;
}
.albumPhotos img{
  width: 250px;
  margin: 10px 0px 25px 0px ;
}
.clear-margins{
  margin: 0px;
}
.gallery img{
  width: 500px;
  cursor: pointer;
  border: 1px solid #DCDCDC;
}
.gallery a:HOVER{
  text-decoration: none;
}
.gallery a img:HOVER{
  box-shadow: 2px 3px 2px #888888;
  transition: box-shadow 0.2s ease-in-out;
}
.gallery h3{
  color: #333;
  text-align: center;
  margin-top: 10px;
}
.main h2, .main h3{
  color: #333;
  text-align: center;
}
.video {
  margin-bottom: 10px;
}
.video:HOVER, .videoSidebar div:HOVER {
  box-shadow: 1px 1px 10px #888888;
  transition: box-shadow 0.2s ease-in-out;
}
.videoCovers img{
  width: 255px;
  margin: 10px 0px 0px 0px ;
}
.videoCovers a:HOVER, .videoSidebar a:HOVER{
  text-decoration: none;
}
.videoSidebar{
  height: 100vh;
  overflow: auto;
}
.pravachanaTitle{
  color: #333;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow:ellipsis;
  margin: 0px 0px 10px 0px !important;
  font-size: 15px !important;
  text-align: left;
  padding-left: 5px;
  background-color: rgba(128,128,128, 0.1);
}
.videoSidebar div {
  /*border: 1px solid red;*/
}
.videoSidebar img{
  margin: 10px 0px 10px 0px;
  width: 180px;
}
.sideBarText{
  color: #333;
  font-size: 15px !important;
  line-height: 1.2em !important;
  margin: 5px auto 5px auto !important;
}
i{
  color: #007bff;
}
.big{
	font-size: 1.25em !important;
}
.large{
	font-size: 1.5em !important;
}
